@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #eee;
  font-family: "Roboto", sans-serif;
}
header {
  height: 80px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 20px;
}
header img {
  height: 36px;
  width: 36px;
}
